<%= form_for(@paper_item) do |f| %>
  <% if @paper_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper_item.errors.count, "error") %> prohibited this paper_item from being saved:</h2>

      <ul>
      <% @paper_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paper_id %><br>
    <%= f.number_field :paper_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
