<h1>Listing paper_items</h1>

<table>
  <thead>
    <tr>
      <th>Paper</th>
      <th>Question</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paper_items.each do |paper_item| %>
      <tr>
        <td><%= paper_item.paper_id %></td>
        <td><%= paper_item.question_id %></td>
        <td><%= link_to 'Show', paper_item %></td>
        <td><%= link_to 'Edit', edit_paper_item_path(paper_item) %></td>
        <td><%= link_to 'Destroy', paper_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper item', new_paper_item_path %>
